name: Testing
on: pull_request

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Test easy level
        run: mvn test -Dtest="testing.levels.easy.**"
      - name: Test hard level
        run: mvn test -Dtest="testing.levels.hard.**"
      - name: Test very_hard level
        run: mvn test -Dtest="testing.levels.very_hard.**"
      - name: Test extra level
        run: mvn test -Dtest="testing.levels.extra.**"


